* {
	margin:0;
	padding:0;
}
body {
	text-align:center;
	min-width:300px;
}
a {
	text-decoration:none;
	color:#334488;
}
a:hover {
	text-decoration:underline;
}
.buttons {
	display:inline-block;
}
.buttons button {
	width:20px;
	border:thin solid #333333;
}